/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 50px 200px;
}
.nav-links{
    display: flex;
    gap: 30px;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.our{
    text-align: center;
    margin: 5px 200px;
}
.flower-img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 200px;
}
.box1, .box2, .box3 , .box4{
    text-align: center;
    padding: 20px;
    border-radius: 2px;
    width: 300px;
    height: 450px;
    background-color: rgb(201, 201, 201);
}
.flower{
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 10px 200px;
}
/* <!-- Latest  Deals section */
.Latest{
    text-align: center;
    margin: 5px 200px;
}
